{% extends "layout.jinja" %}
{% set body_class="faq" %}

{% block body %}
  <h1>FAQ</h1>
  <hr/>
  <h3>What is this?</h3>
  <p>
    You can upload your own short video or image and they will appear on the screens
    around CCL and within the halls. The purpose is to share an interesting event or
    project @36C3.
  </p>
  <h3>What can I upload?</h3>
  <p>
    Please submit something actionable (there must be
    a <a href='https://36c3.c3nav.de/'>C3NAV link</a>/
    assembly name/eventphone number, anything!)
    and with a single purpose like one project, an interesting
    service you're running at 36C3, a talk by you or events
    like key signing parties or meetups.
    <b>
    Your submission must include information on how to reach you
    on the 36C3 site, so anyone interested can meet or talk to you
    about your project. Do not just dump a link!
    </b>
    Right now there's a limit of 5 uploads per user.
  </p>
  <p>
    Memes or other unactionable content
    will be rejected as they might be funny once but then
    just take up space that's better used to share interesting
    projects.
  </p>
  <h3 id='rules'>Why was my content rejected?</h3>
  <p>
    See the "What can I upload" answer above.
  </p>
  <h3 id='signup'>Who can upload?</h3>
  <p>
    A github account created at least one month ago and with at
    least 5 followers is required. Other than that there are
    no restrictions.
  </p>
  <h3>I don't have a github account. Help?</h3>
  <p>
    There are plenty of people at 36C3 who do. We suggest you
    get to know someone who can help you with your submission.
  </p>
  <h3>What formats are supported?</h3>
  <p>
    Videos must be encoded in <b>H264</b> in a MP4 container.
    Every slot is <b>10 seconds</b> and longer videos cannot be
    uploaded. Maximum resolution is 1920x1080 (FullHD) with 60fps.
  </p>
  <p>
    Images must use <b>JPEG</b> and must be exactly <b>1920x1080</b>
    in size.
  </p>
  <h3>Why is my content not visible?</h3>
  <p>
    Content will be moderated by multiple people. It
    might take a moment.
  </p>
  <h3>Where can I get in contact?</h3>
  <p>
    Please use the <a href='https://rocket.events.ccc.de/channel/info-beamer'>#info-beamer</a> channel on the CCC rocket chat.
  <p>
{% endblock %}

{% block js %}
  <script>
    const hash = window.location.hash.replace('#', '')
    if (hash.length > 0) {
      const e = document.getElementById(hash)
      if (e) {
        e.classList.add("faq-highlight")
      }
    }
  </script>
{% endblock %}
