<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='notyf.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='app.css', v=config.VERSION)}}">
    {% block head %}
    {% endblock %}
  </head>
  <body class='{{body_class}}'>
    <nav class="navbar navbar-default hidden-xs">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img src='{{url_for('static', filename='36c3-logo.png')}}'>
          </a>
          <a class="navbar-brand" href="/">
            Share your projects
          </a>
        </div>
        <ul class="nav navbar-nav">
          <li {%if request.path=="/"%}class="active"{%endif%}><a href="/">
            All projects
          </a></li>
          <li {%if request.path=="/last"%}class="active"{%endif%}><a href="/last">
            Last on the screens
          </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if g.user %}
            <li {%if request.path=="/dashboard"%}class="active"{%endif%}><a href="/dashboard">
              {{g.user}}'s projects
            </a></li>
            <li><a href="/logout">Logout</a></li>
          {% else %}
            <li><a href="/login">Login / Sign up</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="visible-xs" href="/">
      <img src='{{url_for('static', filename='36c3-logo.png')}}'>
      <span class='mobile-intro'>
        Share your projects
      </span>
      <hr/>
    </div>
    <div class="container" id='main'>
      <busy-indicator></busy-indicator>
      {% block body %}
      {% endblock %}
      <hr/>
      <div class='text-centered'>
        <p>
          Share your projects on info-beamer@36C3.
          <a href='/faq'>FAQ / Contact</a>.
        </p>
        <p>
          Screens run <a href='https://info-beamer.com'><img src="/static/logo.png">info-beamer</a> on Raspberry Pis.
        <br/><br/>
      </div>
    </div>
    <script src="{{url_for('static', filename='vue.min.js')}}"></script>
    <script src="{{url_for('static', filename='vue-resource.min.js')}}"></script>
    <script src="{{url_for('static', filename='notyf.min.js')}}"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>
